.container {
    text-align: center;
    margin-top: 100px;
}



.button-blue {
    background-color: black;
    color: white;
  }
  
  .button-green {
    background-color: blue;
    color: skyblue;
  }